

.section-title2 h2 {
    font-size: 32px;
    margin-bottom: 20px;

}

.full-calendar {
    /* Styles pour le conteneur du calendrier */
    height: 60px; /* Hauteur fixe pour le calendrier */
    width: 100%; /* Largeur maximale du conteneur */
    border: 1px solid #ddd; /* Bordure autour du calendrier */
    border-radius: 8px; /* Coins arrondis */
  }
/*--------------------------------------------------------------
# regimeInfo
--------------------------------------------------------------*/
.regimeInfo {
    text-align: center;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: 200px;
    margin-top: 150px;
  }
  
  .regimeInfo .section-title h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .regime-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .regime-info {
    max-width: 500px;
  }
  
  .regime-info .info-box {
    text-align: left;
    border: 1px solid #d5e1ed;
    padding: 20px;
    transition: all ease-in-out 0.3s;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .regime-info .info-box .icon {
    margin-right: 15px;
    font-size: 24px;
    color: #9cdc47;
  }
  
  .regime-info .info-box .info-title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 24px;
    color: #9cdc47;
  }
  
  .regime-info .info-box .info-content {
    line-height: 24px;
    font-size: 14px;
    color: #333;
  }
  
  .regime-info .info-box.prohibited .icon {
    color: #ff6347;
  }
  
  .regime-info .info-box.prohibited .info-title {
    color: #ff6347;
  }
  
  .regime-info .info-box:hover {
    background: #9cdc47;
    border-color: #9cdc47;
  }
  
  .regime-info .info-box:hover .info-title,
  .regime-info .info-box:hover .info-content,
  .regime-info .info-box:hover .icon {
    color: #fff;
  }
  
  .regime-info .info-box.prohibited:hover {
    background: #ff6347;
    border-color: #ff6347;
  }
  
  .regime-info .info-box.prohibited:hover .info-title,
  .regime-info .info-box.prohibited:hover .info-content,
  .regime-info .info-box.prohibited:hover .icon {
    color: #fff;
  }
  
  .regime-info .info-box.prohibited .info-content ul {
    padding-left: 20px;
  }
  
  .regime-info .info-box.prohibited .info-content ul li {
    list-style: disc;
    color: #333;
  }
  
  .regime-info .info-box.prohibited:hover .info-content ul li {
    color: #fff;
  }
  
  .custom-alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 20px;
    text-align: center;
  }
  
  .alert-content {
    padding: 20px;
  }
  
  .custom-alert button {
    margin-top: 10px;
  }
  .analyse-docs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .doc-info {
    max-width: 500px;
    margin:0 auto;
  }
  
  .doc-info .info-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 10px;
    transition: all ease-in-out 0.3s;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .doc-info .info-box .icon {
    margin-right: 15px;
    font-size: 24px;
    color: #9cdc47;
  }
  
  .doc-info .info-box .info-title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 15px;
    color: #9cdc47;
  }
  
  .doc-info .info-box .info-content {
    line-height: 24px;
    font-size: 14px;
    color: #333;
  }
  
  .doc-info .info-box:hover {
    background: #9cdc47;
    border-color: #9cdc47;
  }
  
  .doc-info .info-box:hover .info-title,
  .doc-info .info-box:hover .info-content,
  .doc-info .info-box:hover .icon {
    color: #fff;
  }