<div class="section">
    <div class="container">
    
        <div class="cadre">
            <div class="section-title2">
                <h2>Fiche de suivis</h2>
            </div>
        </div>

        <div class="cadre">
            <div class="section-title">
                <h2>Régime</h2>
            </div>

            <!-- Display regime details -->
            <div class="regime-details"  >
                <div class="regime-info" *ngIf="selectedRegime&& selectedRegime.status; else noRegime">
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-id-badge"></i></div>
                    <div class="info-title">Nom:</div>
                    <div class="info-content">{{ selectedRegime.name }}</div>
                  </div>
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-apple-alt"></i></div>
                    <div class="info-title">Fruits:</div>
                    <div class="info-content">{{ selectedRegime.quantityFruit }} portions par jour</div>
                  </div>
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-carrot"></i></div>
                    <div class="info-title">Légumes:</div>
                    <div class="info-content">{{ selectedRegime.quantityVegetable }} portions par jour</div>
                  </div>
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-drumstick-bite"></i></div>
                    <div class="info-title">Protéines:</div>
                    <div class="info-content">{{ selectedRegime.quantityProtein }}g par jour</div>
                  </div>
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-bread-slice"></i></div>
                    <div class="info-title">Céréales:</div>
                    <div class="info-content">{{ selectedRegime.quantityCereal }}g par jour</div>
                  </div>
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-ban"></i></div>
                    <div class="info-title">Choses Interdites:</div>
                    <div class="info-content">
                      <ul>
                        <li *ngFor="let forbidden of selectedRegime.forbidden">{{ forbidden }}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="info-box">
                    <div class="icon"><i class="fas fa-plus-circle"></i></div>
                    <div class="info-title">Complément:</div>
                    <div class="info-content">{{ selectedRegime.complement }}</div>
                  </div>
                  <button (click)="toggleRegimeStatus(selectedRegime.id)" class="btn btn-danger">Supprimer Regime</button>
                </div>
                <ng-template #noRegime>
                  <p>Pas de régime assigné. Merci de choisir un régime dans la liste suivante :</p>
                  <mat-form-field appearance="fill">
                    <mat-label>Selectinner un Regime</mat-label>
                    <mat-select [(value)]="selectedRegimeId" (selectionChange)="onSelectRegime()">
                      <mat-option *ngFor="let regime of regimes" [value]="regime.id">
                        {{ regime.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </ng-template>
              </div>
              
        </div>


        <div class="cadre">
          <div class="section-title">
              <h2>Historique du régime</h2>
          </div>

          <!-- Display regime details -->
          <div class="regime-details" *ngFor="let selectedRegime of listRegime"  >
              <div class="regime-info" >
                <div class="info-box">
                  <div class="icon"><i class="fas fa-id-badge"></i></div>
                  <div class="info-title">Nom:</div>
                  <div class="info-content">{{ selectedRegime.name }}</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fas fa-apple-alt"></i></div>
                  <div class="info-title">Fruits:</div>
                  <div class="info-content">{{ selectedRegime.quantityFruit }} portions par jour</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fas fa-carrot"></i></div>
                  <div class="info-title">Légumes:</div>
                  <div class="info-content">{{ selectedRegime.quantityVegetable }} portions par jour</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fas fa-drumstick-bite"></i></div>
                  <div class="info-title">Protéines:</div>
                  <div class="info-content">{{ selectedRegime.quantityProtein }}g par jour</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fas fa-bread-slice"></i></div>
                  <div class="info-title">Céréales:</div>
                  <div class="info-content">{{ selectedRegime.quantityCereal }}g par jour</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fas fa-ban"></i></div>
                  <div class="info-title">Choses Interdites:</div>
                  <div class="info-content">
                    <ul>
                      <li *ngFor="let forbidden of selectedRegime.forbidden">{{ forbidden }}</li>
                    </ul>
                  </div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fas fa-plus-circle"></i></div>
                  <div class="info-title">Complément:</div>
                  <div class="info-content">{{ selectedRegime.complement }}</div>
                </div>
              </div>
            </div>
      </div>


        
        <div class="cadre">
            <div class="section-title">
                <h2>Activités</h2>
            </div>
            <div style="display: flex;">
              <p>Merci de choisir une activité dans la liste suivante :</p>
              <mat-form-field appearance="fill">
                <mat-label>Selectinner une activité</mat-label>
                <mat-select [(value)]="selectedActivityId" (selectionChange)="onSelectActivity()">
                  <mat-option *ngFor="let activity of activities" [value]="activity.id">
                    {{ activity.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Display activity details -->
            <div class="regime-details"  >

              <div class="regime-info" *ngFor="let selectedActivity of listavtivities">
                <div class="info-box">
                  <div class="icon"><i class="fa-sharp-duotone fa-solid fa-medal"></i></div>
                  <div class="info-title">Nom:</div>
                  <div class="info-content">{{ selectedActivity.name }}</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fa-solid fa-stopwatch-20"></i></div>
                  <div class="info-title">Durée:</div>
                  <div class="info-content">{{ selectedActivity.duree }} minutes par jour</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fa-sharp-duotone fa-solid fa-medal"></i></div>
                  <div class="info-title">Lien:</div>
                  <div class="info-content">{{ selectedActivity.link }}</div>
                </div>
                <div class="info-box">
                  <div class="icon"><i class="fa-sharp-duotone fa-solid fa-medal"></i></div>
                  <div class="info-title">Repetition:</div>
                  <div class="info-content">{{ selectedActivity.repetition }}</div>
                </div>
                <button (click)="deleteActivity(selectedActivity)" class="btn btn-danger">Supprimer Activité</button>
              </div>

           
            </div>




        </div>
        <div class="cadre">
            <div class="section-title">
                <h2>Analyses</h2>
                <div class="doc-info">
                  <div *ngFor="let analyse of analyses" class="info-box">
                    <div class="icon"><i class="fas fa-file-medical"></i></div>
                    <div class="info-title">{{ analyse.name }}:</div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="cadre">
        <div class="section-title">
          <h2>Rendez-vous</h2>
            <div style="right: auto;">
                <button  class="appointment-btn" (click)="AddRendezVous()">Ajouter un rendez-vous</button>

            </div>
            <div style="margin: 0 auto; margin-left: 30%;">
              <full-calendar style="width: 70%;height: 20%;" [options]="calendarOptions"></full-calendar>

            </div>
          </div>
      </div>
    </div>
    <div class="custom-alert" *ngIf="alertVisible">
      <div class="alert-content">
        <h2>{{ alertTitle }}</h2>
        <p [innerHTML]="alertMessage"></p>
        <button (click)="closeAlert()">Fermer</button>
      </div>
    </div>