<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"><img src="../../../assets/img/logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li *ngIf="isAuthenticated && isAdmin"><a class="nav-link scrollto" routerLink="/users">Liste des utilisateurs</a></li>
        <li *ngIf="(isAuthenticated && isAdmin) || (isAuthenticated && isNutritionist)"><a class="nav-link scrollto" routerLink="/patientList">Liste des patients</a></li>
        <li *ngIf="(isAuthenticated && isAdmin) || (isAuthenticated && isNutritionist)"><a class="nav-link scrollto" routerLink="/ListRendez-Vous">Liste des rendez-vous</a></li>
        <li *ngIf="(isAuthenticated && isAdmin) || (isAuthenticated && isNutritionist)"><a class="nav-link scrollto" routerLink="/activities">Liste des activités</a></li>
        <li *ngIf="!isAuthenticated"><a class="nav-link scrollto active" routerLink="/">Home</a></li>
        <li *ngIf="!isAuthenticated"><a class="nav-link scrollto" href="#about">About</a></li>
        <li *ngIf="!isAuthenticated"><a class="nav-link scrollto" href="#services">Services</a></li>
        <li *ngIf="(isAuthenticated && isAdmin) || (isAuthenticated && isNutritionist)"><a class="nav-link scrollto" routerLink="/regimeList">Liste des régimes</a></li>
        <li *ngIf="isAuthenticated">
          <a class="nav-link scrollto">
            <span mat-button [matMenuTriggerFor]="menu">
              <div style="display: flex;">
                <mat-icon>account_circle</mat-icon>
                <span>{{fullname}}</span>
                <mat-icon>arrow_drop_down</mat-icon>
              </div>
            </span>
          </a>
        </li>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="profile()" *ngIf="isAuthenticated && isPatient">
            <mat-icon style="color: #9cdc47">person</mat-icon>
            <span>Profile</span>
          </button>
          <span mat-menu-item (click)="logout()">
            <mat-icon style="color: #9cdc47">exit_to_app</mat-icon>
            <span>Logout</span>
          </span>
        </mat-menu>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <button *ngIf="!isAuthenticated" type="button" class="appointment-btn scrollto" (click)="navigateToLogin()">Login</button>
  </div>
</header>
