<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="card1 pb-5">
            <div class="row">
              <img src="../../assets/img/logo.png" class="logo">
            </div>
            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
              <img src="../../assets/img/loginicon.png" class="image">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row mb-4 px-3">
                <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                <div class="facebook text-center mr-3"><div class="fa fa-google-plus"><img src="../../assets/img/google.png"></div></div>
              </div>
              <div class="row px-3 mb-4">
                <div class="line"></div>
                <small class="or text-center">Or</small>
                <div class="line"></div>
              </div>
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">First Name</h6></label>
                <input class="mb-4" type="text" formControlName="firstname" placeholder="Enter first name">
                <div *ngIf="submited &&  registerForm.get('firstname')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('firstname')?.hasError('required')">First Name is required.</small>
                  <small *ngIf="registerForm.get('firstname')?.hasError('minlength')">First Name must be at least 2 characters long.</small>
                </div>
              </div>
  
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Last Name</h6></label>
                <input type="text" formControlName="lastname" placeholder="Enter last name">
                <div *ngIf="submited &&  registerForm.get('lastname')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('lastname')?.hasError('required')">Last Name is required.</small>
                  <small *ngIf="registerForm.get('lastname')?.hasError('minlength')">Last Name must be at least 2 characters long.</small>
                </div>
              </div>
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Age</h6></label>
                <input type="number" formControlName="age" placeholder="Enter your age">
                <div *ngIf="submited &&  registerForm.get('age')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('age')?.hasError('required')">age is required.</small>
                </div>
              </div>
              
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Email</h6></label>
                <input type="text" formControlName="email" placeholder="Enter a valid email">
                <div *ngIf="submited &&  registerForm.get('email')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</small>
                  <small *ngIf="registerForm.get('email')?.hasError('email')">Invalid email address.</small>
                </div>
              </div>
              
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                <input type="password" formControlName="password" placeholder="Enter password">
                <div *ngIf="submited &&  registerForm.get('password')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</small>
                  <small *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 3 characters long.</small>
                </div>
              </div>
              
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Gender</h6></label>
                <select class="form-select form-select-sm" formControlName="gender" aria-label=".form-select-sm example">
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                </select>
                <div *ngIf="submited &&  registerForm.get('gender')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('gender')?.hasError('required')">Gender is required.</small>
                </div>
              </div>
              
              <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Role</h6></label>
                <select class="form-select form-select-sm" formControlName="role" aria-label=".form-select-sm example">
                    <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                  </select>
                <div *ngIf="submited && registerForm.get('role')?.invalid" class="text-danger">
                  <small *ngIf="registerForm.get('role')?.hasError('required')">Role is required.</small>
                </div>
              </div>
              
              <div class="row px-3 mb-4">
                <!-- Vous pouvez ajouter des cases à cocher ou autres éléments ici -->
              </div>
              
              <div class="row mb-3 px-3">
                <button type="submit" class="btn btn-blue text-center" >Sign Up</button>
              </div>
              
              <div class="row mb-4 px-3">
                <small class="font-weight-bold">Already have an account? <a class="text-danger" (click)="navigateTosignin()">Sign In</a></small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  