<app-sidebar></app-sidebar>
<section id="analyseInfo" class="analyseInfo">
    <div class="container">
      <div class="section-title flex mt-4">
        <h2>Analyses Médicales</h2>
      </div>
      <div class="analyse-docs">
        <div class="doc-info">
          <div *ngFor="let analyse of analyses" class="info-box">
            <div class="icon"><i class="fas fa-file-medical"></i></div>
            <div class="info-title">{{ analyse.name }}</div>
          </div>
          <div *ngIf="!analyses" class="info-box">
            
            <div class="info-title">pas des analyses</div>

          </div>
        </div>
        
        <div class="upload-section">
          <h3>Ajouter un Document</h3>
          <form (submit)="onSubmit()">
            <input type="file" (change)="onFileSelected($event)" />
            <button type="submit">Télécharger</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  