
<app-sidebar></app-sidebar>

<!-- Content Section -->
<div class="profile-container">
  <div class="profile-content">

    
<section id="profileItems" class="profileItems">
  <div class="container">
    <div class="section-title ">
      <h2>Hello !</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box" (click)="navigateTo('informations')">
          <div class="icon"><i class="fas fa-user"></i></div>
          <h4><a href="">Mes informations</a></h4>
          <p>Informations sur vous, y compris la perte de poids, la gestion d’une condition médicale, etc.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box" (click)="navigateTo('regime')">
          <div class="icon"><i class="fas fa-apple-alt"></i></div>
          <h4><a href="">Régime</a></h4>
          <p>Surveillez votre alimentation, activité physique, et poids.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box" (click)="navigateTo('activites')">
          <div class="icon"><i class="fas fa-running"></i></div>
          <h4><a href="">Activités</a></h4>
          <p>Collaborez avec nos experts pour améliorer votre qualité de vie.</p>
        </div>
      </div>
    </div>
    <div class="row flex mt-4">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box" (click)="navigateTo('analyse')">
          <div class="icon"><i class="fas fa-chart-line"></i></div>
          <h4><a href="">Analyse</a></h4>
          <p>Analyse de vos objectifs individuels, y compris la perte de poids, la gestion d’une condition médicale...</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box" (click)="navigateTo('rendez-vous')">
          <div class="icon"><i class="fas fa-calendar-check"></i></div>
          <h4><a href="">Rendez-vous</a></h4>
          <p>Planifiez et gérez vos rendez-vous de santé facilement.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  </div>
</div>


