

<!--*****Hero Section*****-->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>change your plate, <br> change your life</h1>
    <h2>SantéVista:Your Personal Health Coach</h2>
  </div>
</section>
<main id="main">

<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Pourquoi Choisir SantéVista ?</h3>

        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Expertise et Personnalisation: </h4>
                <p> Notre plateforme est conçue par des experts en santé et nutrition pour offrir des conseils personnalisés adaptés à
                  vos besoins spécifiques.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Gratuité et Garanties de Satisfaction :</h4>
                <p>Nous offrons un service gratuit pour vous permettre de découvrir nos services sans engagement. De plus, nous avons
                   des garanties de satisfaction pour vous assurer que vous êtes pleinement satisfait de notre plateforme.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Sécurité et Confidentialité: </h4>
                <p>Nous prenons la sécurité de vos données très au sérieux. Toutes vos informations personnelles sont protégées par
                  des protocoles de sécurité, garantissant que vos données restent confidentielles et sécurisées.</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--End US section-->

  <!--*************About Section*************-->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          <a href="" class="glightbox play-btn mb-4"></a>
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>À Propos de nous</h3>

          <div class="icon-box">
           <div class="icon"><i class="bi bi-eye"></i></div>
            <h4 class="title"><a href="">Notre Vision :</a></h4>
            <p class="description">Nous croyons que chaque individu mérite d'accéder à des informations et à des outils de qualité pour gérer sa santé. </p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bi bi-rocket-takeoff"></i></div>
            <h4 class="title"><a href="">Notre Mission :</a></h4>
            <p class="description">Notre mission est de vous accompagner dans votre parcours de santé en vous offrant des solutions complètes et personnalisées.
             </p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bi bi-gear"></i></div>
            <h4 class="title"><a href="">Notre Approche :</a></h4>
            <p class="description">Nous adoptons une approche holistique qui considère tous les aspects de votre santé – physique, mentale et émotionnelle.
              </p>
          </div>

        </div>
      </div>

    </div>
  </section>


  <!--******Services Section*****-->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="">Plans de Santé Personnalisés</a></h4>
            <p>Conçus en fonction de vos objectifs individuels, que ce soit la perte de poids,
               la gestion d’une condition médicale...</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">Suivi de la Santé</a></h4>
            <p>Vous pouvez surveiller votre apport alimentaire, votre activité physique, votre poids.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a href="">Gestion des Conditions Médicales</a></h4>
            <p>Nos experts travaillent en étroite collaboration avec vous pour améliorer votre qualité de vie.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--******Questions Section******-->
  <app-faq></app-faq>








