<app-sidebar></app-sidebar>
<div class="cadre">
  <div class="section-title" style="margin-top: 5%;">
    <h2>Rendez-vous</h2>
    <div style="display: flex;">
    
      <!-- Colonne pour le calendrier et bouton de planification -->
      <div style="width: 70%;height: 30%; margin-left: 10%;">
        <div style="position: relative; text-align: center;">
          <button class="appointment-btn" style="position: absolute; right: 50%; " (click)="AddRendezVous()">
            Planifier un rendez-vous
          </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div style="margin: 0 auto; margin-left: 10%;">
          <full-calendar style="width: 70%;height: 20%;" [options]="calendarOptions"></full-calendar>

        </div>  
      
      </div>

  
      <div *ngIf="patient" class="rendezvous-container">
        <div >
          <div>
            <div *ngFor="let rdv of rendezvousAcceptes" class="rendez-vous-item">
              <div class="info-box">
                <span class="icon">&#x2713;</span>
                <div>
                  <div class="info-title">Accepté</div>
                  <div class="info-content">{{ rdv.date }} - {{ rdv.horaireDebut }} à {{ rdv.horaireFin }}</div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Contenu des rendez-vous non acceptés -->
          <div>
            <div *ngFor="let rdv of rendezvousNonAcceptes" class="rendez-vous-item">
              <div class="info-box">
                <span class="icon">&#x2717;</span>
                <div>
                  <div class="info-title">Non accepté</div>
                  <div class="info-content">{{ rdv.date }} - {{ rdv.horaireDebut }} à {{ rdv.horaireFin }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
