/*--------------------------------------------------------------
# activiteInfo
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# regimeInfo
--------------------------------------------------------------*/
.regimeInfo {
  text-align: center;
  padding: 20px;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-left: 200px;
  margin-top: 150px;
}

.regimeInfo .section-title h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.regime-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.regime-info {
  max-width: 500px;
}

.regime-info .info-box {
  text-align: left;
  border: 1px solid #d5e1ed;
  padding: 20px;
  transition: all ease-in-out 0.3s;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.regime-info .info-box .icon {
  margin-right: 15px;
  font-size: 24px;
  color: #9cdc47;
}

.regime-info .info-box .info-title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 24px;
  color: #9cdc47;
}

.regime-info .info-box .info-content {
  line-height: 24px;
  font-size: 14px;
  color: #333;
}

.regime-info .info-box.prohibited .icon {
  color: #ff6347;
}

.regime-info .info-box.prohibited .info-title {
  color: #ff6347;
}

.regime-info .info-box:hover {
  background: #9cdc47;
  border-color: #9cdc47;
}

.regime-info .info-box:hover .info-title,
.regime-info .info-box:hover .info-content,
.regime-info .info-box:hover .icon {
  color: #fff;
}

.regime-info .info-box.prohibited:hover {
  background: #ff6347;
  border-color: #ff6347;
}

.regime-info .info-box.prohibited:hover .info-title,
.regime-info .info-box.prohibited:hover .info-content,
.regime-info .info-box.prohibited:hover .icon {
  color: #fff;
}

.regime-info .info-box.prohibited .info-content ul {
  padding-left: 20px;
}

.regime-info .info-box.prohibited .info-content ul li {
  list-style: disc;
  color: #333;
}

.regime-info .info-box.prohibited:hover .info-content ul li {
  color: #fff;
}



/* .activiteInfo {
    display: flex;
    margin-left: 200px;
    margin-top: 150px;
    text-align: center;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .activiteInfo .section-title h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .activite-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .activite-info {
    max-width: 500px;
  }
  
  .activite-info .info-box {
    text-align: left;
    border: 1px solid #d5e1ed;
    padding: 20px;
    transition: all ease-in-out 0.3s;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .activite-info .info-box .icon {
    margin-right: 15px;
    font-size: 24px;
    color: #9cdc47;
  }
  
  .activite-info .info-box .info-title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 24px;
    color: #9cdc47;
  }
  
  .activite-info .info-box .info-content {
    line-height: 24px;
    font-size: 14px;
    color: #333;
  }
  
  .activite-info .info-box:hover {
    background: #9cdc47;
    border-color: #9cdc47;
  }
  
  .activite-info .info-box:hover .info-title,
  .activite-info .info-box:hover .info-content,
  .activite-info .info-box:hover .icon {
    color: #fff;
  } */
  