
.accordion{
  width: 900px;
  margin: 0 auto;
}
.accordion-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #444444;
  background-color: white;
  box-shadow: none;
  border-color: #7abe3a;

}
.accordion-button:hover{
  color: #7abe3a;
  background: #fff;

}
.accordion-button::after {
  content: '';
  display: none;
}

.accordion-item {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-body {
  padding: 20px;
}

.accordion-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
}

.accordion-icon.open {
  transform: rotate(180deg);
}

